
/* Section spécifique aux résultats */
.samples-add-req-section {
  border-left: 4px solid rgba(1, 82, 158, 0.5);
  background: rgba(100, 181, 246, 0.03);
}

.samples-add-req-section:hover {
  box-shadow: 0 4px 6px -1px rgba(1, 82, 158, 0.15);
}
